<div class="span-24">
  <%= error_messages_for :entry %>
</div>
<% semantic_form_for :entry, :url => { :controller => "home", :action => "entry" } do |form| %>
  <div class="span-12">
  <% form.inputs do %>
    <%= form.input :name, :label => "Entry name", :input_html => { :value => (@entry || Entry.new).name } %>
    <%= form.input :author, :input_html => { :value => (@entry || Entry.new).author } %>
  <% end %>
  </div>
  <div class="span-11 entry">
  <% form.inputs do %>
    <%= form.input :entry, :as => :text, :input_html => { :rows => 10, :value => (@entry || Entry.new).entry.strip } %>
  <% end %>
  </div>
  <%= form.submit "All routes lead to your mum (save)" %>
<% end %>
